[Unit]
Description=PWM Fan Control
#After=mediacenter.service

[Service]
Type=simple
User=root
ExecStart= /usr/bin/python /fan/fan_ctrl3.py
Restart=always

[Install]
WantedBy=default.target
